nano /workspaces/MijnEersteRepository/.gitignore
# Ignore build directories
build/
qt-everywhere-opensource-src-6.5.4.tar.xz
qt-everywhere-src-6.5.4/
git add .gitignore
git commit -m "Update .gitignore to exclude build directory and Qt source files"
